@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html,body{
    position: relative;
    width: 100%;
    height: 100vh;
    ;
    background-color: rgb(48, 48, 58);
    overflow: hidden;
}


.video_box{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

.video_box video{
    position: absolute;
    bottom: 0px;
}






/* boxInput */


body > .box{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 30px;
    padding-top: 20px;
    user-select: none;
}

.boxInput{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.boxInput .ser_box{
    position: absolute;
    margin: auto;
    width: fit-content;
    text-align: center;

}
.boxInput .ser_box input{
    height: 50px;
    width: 300px;
    padding: 20px 10px 20px 50px;
    background-color: #45454E;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid transparent;
    outline:none;
    position: relative;
}
.boxInput .ser_box input:focus{
    background: linear-gradient(to left,#80808d,#6c6c78,#6c6c76);
    border: 1px solid white;
    transform: scale(1,1.1);
}

.boxInput .ser_box i{
    color: white;
}
.boxInput .ser_box i.bxl-google{
    position: absolute;
    top: 3px;
    color: white;
    font-size: 2rem;
    z-index: 2;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxInput .ser_box i.bx-search-alt-2,
.boxInput .ser_box i.bx-microphone{
    background-color:  #45454E;
    width: 50px;
    font-size: 2rem;
    height: 49px;
    border-radius: 5px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 9px;
    cursor: pointer;
}

.boxInput .ser_box i.bx-search-alt-2:hover,
.boxInput .ser_box i.bx-microphone:hover{
    transform: scale(.9,.9);
    border: 1px solid white;
}


#serach{
    position: absolute;
    color: rgba(255, 255, 255, 0.61);
    z-index: 2;
    padding: 0 6px;
    left: 60px;
    transform: translate(0,83%);
    pointer-events: none;
}

.boxInput .ser_box input:valid ~ #serach,
.boxInput .ser_box input:focus ~ #serach{
    background-color: black;
    color: white;
    font-size: .9rem;
    transform: translate(0,-3px);
    width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-left:1px solid white;
    border-right: 1px solid white;
    transition: all 0.3s ease;
}




/* title */

.box >.title{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    position: relative;
    margin-bottom: 0px;
    position: relative;
    z-index: 3;
    user-select: none;
}


.box >.title h1{
    -webkit-text-stroke: 2px red;
    color: transparent;
    font-size: 4rem;
    position: relative;
    left: -52px;
    animation: title 2s ease-in-out infinite;
    transition: width 1s ease-in-out;
    outline: none;
}
.box >.title h1:hover{
    color:red;
    user-select: none;
}

/* .box >.title h1::after{
    content: 'I Love Coding';
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    text-shadow: none;
    background-color: transparent;
    animation: title 2s ease-in-out infinite;
    transition: width 1s ease-in-out;
} */
.box >.title h1 #edit_{
    min-width: 200px;
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    text-transform: uppercase;
}

@keyframes title {
    0%{
        text-shadow: none;
    }
    50%{
        
        text-shadow: 5px 10px 20px red,-5px -10px 20px rgba(255, 0, 0, 0.48);
    }
    100%{
        text-shadow: none;
        
    }
}
.box >.title span{
    position: absolute;
    font-size: 130px;
    top: -42px;
    right: -190px;
    transform: rotate(15deg);
    animation: heart 1s ease infinite ;
    pointer-events: none;
    user-select: none;
    pointer-events: none;
}
.box >.title span:hover{
    font-size: 155px;
}
.box >.title h1:hover::after{
    width: 100%;
    transition: width 1s ease;
}

@keyframes heart {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(20deg);
        font-size: 140px;
    }
    100%{
        transform: rotate(10deg);
    }
}




/* my_id */

.my_id a{
    text-decoration: none;
    color: white;
    user-select: none;

}


.my_id{
    background-color:rgba(255, 255, 255, 0.1);
    width: 56%;
    height: 320px;
    margin: auto;
    margin-top: 40px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    overflow: auto;
    height: clamp(330px,40%,380px);
}






.my_id::-webkit-scrollbar{
    display: none;
}
.my_id .card{
    background-color: transparent;
    margin: 5px;
    background-color: transparent;
    border: 1px solid  rgba(255, 255, 255, 0.651);
    border-radius: 3px;
    width: 250px;
    min-width: 200px;
    position: relative;
}


@media only screen and (max-width: 1023px) {
    .my_id .card{
        width: 100px;
    }
}

.my_id .card::after{
    content: '';
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.341);
    z-index: -1;
    pointer-events: none;
    transition: width .6s ease-in-out;
}

.my_id .card:hover::after{
    width: 100%;
}
.my_id .card:hover{
    outline: 3px black;
}

.my_id .card a{
    width: 100%;
    height: 100%;
    min-width: 100px;
    max-width: 300px;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding: 4px;
    border-radius: 3px;
    gap: 6px;
}

.my_id .card a i{
    font-size: 2rem;
    padding: 2px;
}

.my_id .card .name h4{
    font-size: 15px;
}

.my_id .card .name h5{
    font-size: 9px;
}




/* loop_title */

#loop_title{
    background: url("./video/img.jpg");
    width: fit-content;
    position: absolute;
    -webkit-background-clip: text;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
    z-index: 1;
    overflow: hidden;
    animation: loop 8s linear infinite;
    user-select: none   ;
}

@keyframes loop {
    0%{
        transform: translateY(5%);
        opacity: .6;
    }
    100%{
        transform: translateY(-79%);
        opacity: 1;
    }
    
}


#loop_title h1{
    color: transparent;
    font-size: 200px;
    word-spacing: 90px;
}

/* #loop_title h1 span{
    animation: looppacity 1s linear infinite;
}

@keyframes looppacity {
    0%{
        opacity: .3;
    }
    25%{
        opacity: .5;
    }
    50%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
} */

#loop_title span:hover{
    color: white;
}






/* profile */


#profile{
    background-color: rgba(255, 255, 255, 0.089);
    width: 20%;
    max-width: 300px;
    min-width: 275px;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: 10;
    border-right: 2px solid rgba(255, 255, 255, 0.341);
    box-shadow: -20px 0px 20px rgba(255, 255, 255, 0.338) inset;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    user-select: none;
    transition: all .3s  ease-out;
    opacity: 1;
}


#profile .pic_box{
    backdrop-filter: blur(50px);
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: back 1s linear infinite;
    cursor: pointer;
    position: relative;
}

#edit_pic{
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.221);
    backdrop-filter: blur(200px);
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    right: 0;
    display: none;
}
#edit_pic > input{
    left: 0;
    width: 30px;
    opacity: 1;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    opacity: 0;
}

#profile .pic_box:hover #edit_pic{
    display: flex;
}

@keyframes back {
    0%{
        background: conic-gradient(rgba(255, 0, 0, 0.709),rgba(255, 255, 255, 0.687),rgba(0, 0, 255, 0.665),rgba(0, 128, 0, 0.709),rgba(255, 166, 0, 0.575)90%);
    }
    50%{
        background:none;
    }
    100%{
        background: conic-gradient(rgba(255, 0, 0, 0.709),rgba(255, 255, 255, 0.687),rgba(0, 0, 255, 0.665),rgba(0, 128, 0, 0.709),rgba(255, 166, 0, 0.575)90%);
    }
}

#profile .pic_box img{
    width: 190px;
    height: 190px;
    padding: 5px;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    object-fit: cover;
}


@keyframes rotate {
    0%{
        background-color: rgba(255, 166, 0, 0.525);
        transform: rotateZ(-5deg);
    }
    50%{
        transform: rotateZ(5deg);
    }
    100%{
        transform: rotateZ(-5deg);
    }
}


/* pro_name */

#profile .pro_name{
    padding: 0 2px 0 2px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#profile .pro_name .name_{
    color: white;
    font-family: "popins";
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    outline: none;
    text-transform: uppercase;
}

#profile .pro_name .name_::before{
    content: '';
    width: 10%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: width 1s ease;
}
#profile .pro_name .name_:hover::before{
    width: 50%;
}






/* pro_name */

#profile .pro_name{
    padding: 0 2px 0 2px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#profile .pro_name p{
    color: orange;
    font-family: "popins";
    position: relative;
    font-size: 24px;
    width: 100%;
    outline: none;
    text-align: center;
    width: 100%;
}

#profile .pro_name p::first-letter{
    text-transform: capitalize;
}

#profile .pro_name p::before{
    content: '';
    width: 40%;
    height: 2px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    right: -4px;
    transition: width 1s ease;
}

#profile .pro_name p:hover::before{
    width: 107%;
}





/* social media */

#social{
    cursor: pointer;
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 3px 20px 3px;
    position: relative;
    transition: all .2s  ease-in;
}
#social span {
    /* background-color: rgb(0, 0, 0); */
    backdrop-filter: blur(22px);
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.677);
    position: relative;
    overflow: hidden;
}

#social span::before{
    content: '';
    width: 17%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    transition: width .3s ease-in-out;
}

#social span:hover:before{
    width: 100%;
}

#social span:hover i{
    color: black;
    transform: rotateZ(360deg);
}

#social span i{
    color: white;
    font-size: 1.2rem;
    backdrop-filter: blur(22px);
    border-radius: 50%;
    transition: all .5s ease;
}
#social span i a{
    width: 30px;
    height: 30px;
    left: -5px;
    top: -5px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}

/* tool_kit */
#social .tool{
    width: 100%;
    position: absolute;
    padding: 5px 0 5px 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}

#social .tool > div{
    font-size: 8px;
    transform: translateX(2px);
    padding: 1px 2px 1px 2px;
    border: 1px solid rgba(255, 255, 255, 0.473);
    color: white;
    border-radius: 5px;
    position: relative;
    opacity: 0;
}
#social .tool > div.fb{
    transform: translateX(-6px);
}
#social .tool > div.Instagram{
    transform: translateX(-2px);
    
}

#social .tool > div::before{
    content: '';
    width: 0;
    height: 0;
    left: 40%;
    bottom: -6px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid gray;
}






/* Advanced Notepad */

#adv_note{
    background-color: rgba(255, 255, 255, 0.056);
    backdrop-filter: blur(30px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.438);
    position: relative;
    transition: all .2s  ease-in;
    height: 100%;
    min-height: 100px;
    max-height: 300px;
}

#adv_note .adv_title{
    text-align: center;
    font-family: "popins";
    padding: 4px;
    font-size: 14px;
    color: white;
    position: relative;
}

/* #adv_note .adv_title::before{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: orange;
    position: absolute;
    border-radius: 50%;
} */


#adv_note .text_note{
    padding: 5px 8px 5px 8px;
    height: 100%;
    color: white;
    overflow: auto;
    font-size: 14px;
    color: greenyellow;
    font-family: "popins";
    outline: none;
}

#adv_note .text_note::first-letter{
    text-transform: capitalize;
}

#adv_note .text_note::-webkit-scrollbar{
    display: none;
}





/* close btn */
#close{
    font-size: 1.8rem;
    color: white;
    text-shadow: -1px -1px 5px rgba(255, 255, 255, 0.416);
    position: absolute;
    right: -1px;
    top: 43%;
    font-weight: 200;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.443);
    cursor: pointer;
    animation: close .5s linear infinite;
    display: none;
}

#profile:hover #close{
    display: flex;
}



/* importent css*/
#profile.active{
    width: 0;
    min-width: 0px;
    min-width: 0px;
    padding: 0;
    opacity: 0;
    overflow: visible;
    animation:  opacity 5s linear infinite;
}
@keyframes  opacity {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#profile.active #close{
    right: -16px;
    display: inline-flex;
}

#profile :is(.pic_box, #hello, .pro_name, #social, #adv_note){
    min-width: 170px;
}

#profile.active :is(.pic_box, #hello, .pro_name, #social, #adv_note){
    transform: translateX(-100px);
    opacity: 0;
    transition: all .3s ease;
}




.pointer{
    width: 20px;
    height: 20px;
    border: 3px solid white;
    background-color: white;
    box-shadow: 0px 0px 24px white;
    opacity: .4;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .09s ease-out ;
}

#big_pointer{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    box-shadow: 0px 0px 24px white;
    opacity: .4;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}







/* @media only screen */


/* 825px */
@media only screen and (max-width: 825px) {
    .my_id{
        width: 70%;
    }

    .my_id .card{
        min-width: 170px;
    }




    /* 574px */
    @media only screen and (max-width: 574px) {
        html,body{
            font-size: 8px;
        }

        /* title */
        span#he{
            font-size: 80px;
            right: -120px;
        }
    
        @keyframes heart {
            50%{
                font-size: 90px;
            }
        }



        /* ser_box */
        .boxInput{
            z-index: 2;
        }

        
        .boxInput .ser_box input{
            width: 65%;
        }
    
        #serach{
            left: 50px;
            transform: translate(0,170%);
        }
    
        .boxInput .ser_box i.bx-search-alt-2,
        .boxInput .ser_box i.bx-microphone{
            top: 2px;
        }
    
        .boxInput .ser_box input:valid ~ #serach,
        .boxInput .ser_box input:focus ~ #serach{
            transform: translate(0,-6px);
        }
    
        


        .my_id{
            width: 90%;
            min-height: 400px;
            align-content: start;
            margin-top: 15px;
        }
        .my_id .card{
            min-width: 100%;
        }


        /* end 320px */
        @media only screen and (max-width: 320px) {

            html,body{
                font-size: 6px;
            }
            .boxInput .ser_box{
                white-space: nowrap;
            }
            .boxInput .ser_box input{
                width: 60%;
            }

            .title{
                text-align: center;
            }
            #edit_{
                margin-left: 35px;

            }
            span#he{
                font-size: 50px;
                right: -85px;
                top: -26px;
            }
        
            @keyframes heart {
                50%{
                    font-size: 60px;
                }
            }


        }


    }





}











